.App {
  width: 100px;
  height: 100px;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 900px;
  width: 300px;
  margin-top: 0;
  background-color: rgb(3, 53, 73);
}

h2 {
  color: white;
}

p {
  color: yellow;
}
